<!-- twpost_project -->
<script src="js/twcalender.js"></script>
<script src="js/kissy/yahoo-dom-event.js"></script>
<script src="js/kissy/editor-min.js"></script>
<script>
    KISSY.ready(function(S) {
        S.Editor('remark', {
            base: 'js/kissy/',
            pluginsConfig: {
                image: {
                    tabs : ['link'],
                },
                smiley: {
                    tabs : ['wangwang']
                }
            }
        });
    });
</script>

<link rel="stylesheet" href="js/kissy/reset-min.css" />
<link rel="stylesheet" href="js/kissy/editor-min.css" />
<style type="text/css">
.btn {
	cursor: pointer;
	font-size: 14px;
	padding: 2px 12px;
	font-weight: 700;
}
</style>

<!--<?php
print <<<EOT
-->
<!-- nav -->
<div id="breadCrumb"><img
	src="$imgpath/$stylepath/thread/home-old.gif" />&nbsp;<a
	href="$db_bfn" title="$db_bbsname">$db_bbsname</a> &raquo; <a
	href="/twindex.php">teamwork首页</a> &raquo; 发布新项目</div>

<!-- form -->
<form action="twpost.php?module=project&action=$action" method="post" name="post_project" id="post_project">
<table cellspacing="0" width="100%">
	<tbody>
		<tr>
			<td class="h"><b>发布新项目</b></td>
			<td class="h tar"><span class="fr">标<font color="red">*</font>为必填项</span></td>
		</tr>
		<tr class="tr3">
			<td><font color="red">*</font>&nbsp;项目名称:</td>
			<td><input value="$data[projectname]" class="input" type="text" name="projectname" id="projectname" size="50" tabindex="1" maxlength="30" />&nbsp;(限30字以内)&nbsp;<font color="red">$error[projectname]</font></td>
		</tr>
		<tr class="tr3">
			<td><font color="red">*</font>&nbsp;计划起止时间:</td>
			<td>
			<input value="$data[plan_start_time]" class="input" type="text" name="plan_start_time" id="plan_start_time" onfocus="setDate(this)" size="15" tabindex="2" readonly="readonly" /> 至 <input value="$data[plan_end_time]" class="input" type="text" name="plan_end_time" id="plan_end_time" onfocus="setDate(this)" size="15" tabindex="3" readonly="readonly" />&nbsp;(计划截止时间可不填)&nbsp;<font color="red">$error[plan_start_time]</font>
			</td>
		</tr>
		<tr class="tr3">
			<td><font color="red">*</font>&nbsp;负责人:</td>
			<td>
			<select tabindex="4" name="owner_id" id="owner_id">
			<option value="-1">请选择</option>
<!--
EOT;
foreach($twusers as $twuser) {
$owner_id_selected = ($twuser[uid]==$data[owner_id] ? 'selected' : '');
print <<<EOT
-->
			<option value="$twuser[uid]" $owner_id_selected>$twuser[username]<!-- EOT; --></option>
<!--
EOT;
}
print <<<EOT
-->
			</select>&nbsp;<font color="red">$error[owner_id]</font>
			</td>
		</tr>
		<tr class="tr3">
			<td><font color="red">*</font>&nbsp;优先级:</td>
			<td>
			<select tabindex="5" name="priority" id="priority">
			<option value="-1">请选择</option>
<!--
EOT;
foreach($teamwork_level as $key=>$val) {
$level_selected = ($key==$data[priority] ? 'selected' : '');
print <<<EOT
-->
			<option value="$key" $level_selected>$val</option>
<!--
EOT;
}
print <<<EOT
-->
			</select>&nbsp;(P0最紧急)&nbsp;<font color="red">$error[priority]</font>
			</td>
		</tr>
		<tr class="tr3">
			<td>WIKI地址:</td>
			<td>
			<input value="$data[wiki]" class="input" type="text" name="wiki" id="wiki" size="80" tabindex="6" maxlength="200" />
			</td>
		</tr>
		<tr class="tr3">
			<td>SVN地址:</td>
			<td>
			<input value="$data[svn]" class="input" type="text" name="svn" id="svn" size="80" tabindex="7" maxlength="200" />
			</td>
		</tr>
		<tr class="tr3">
			<td><font color="red">*</font>&nbsp;进度状态:</td>
			<td>
			<select tabindex="8" name="status" id="status">
			<option value="-1">请选择</option>
<!--
EOT;
foreach($teamwork_status as $key=>$val) {
$status_selected = ($key==$data[status] ? 'selected' : '');
print <<<EOT
-->
			<option value="$key" $status_selected>$val</option>
<!--
EOT;
}
print <<<EOT
-->
			</select>&nbsp;<font color="red">$error[status]</font>
			</td>
		</tr>
		<tr class="tr3">
			<td>项目备注:</td>
			<td>
			<textarea rows="10" cols="76" class="input" style="width: 690px" name="remark" id="remark" tabindex="9">$data[remark]</textarea>
			</td>
		</tr>
		<tr class="tr3">
			<td></td>
			<td>
			<input type="submit" value=" 提 交 " class="btn" /><font color="red">$error[all]</font>
			<input type="hidden" value="submit" name="flag" />
			<input type="hidden" value="$pid" name="pid" />
			</td>
		</tr>
	</tbody>
</table>
</form>
<!--
EOT;
?>-->