<!--<?php print <<<EOT
-->
<div id="breadCrumb">
		<img src="$imgpath/$stylepath/thread/home-old.gif" align="absmiddle" />&nbsp;<a href="$db_bfn" title="$db_bbsname">$db_bbsname</a> &raquo; <a href="twindex.php" title="teamwork首页">teamwork首页</a> &raquo; <a href="twtask.php" title="任务列表">任务列表</a> &raquo; $teamtask[taskname]
</div>


<!--
EOT;
$plan_start_time = '-';
$plan_end_time = '-';
$real_start_time = '-';
$real_end_time = '-';
$create_time = '-';
if( $teamtask[plan_start_time] > 0 ){
	$plan_start_time = date("Y-m-d H:i:s", $teamtask[plan_start_time]);
}
if( $teamtask[plan_end_time] > 0 ){
	$plan_end_time = date("Y-m-d H:i:s", $teamtask[plan_end_time]);
}
if( $teamtask[real_start_time] > 0 ){
	$real_start_time = date("Y-m-d H:i:s", $teamtask[real_start_time]);
}
if( $teamtask[real_end_time] > 0 ){
	$real_end_time = date("Y-m-d H:i:s", $teamtask[real_end_time]);
}
if( $teamtask[create_time] > 0 ){
	$create_time = date("Y-m-d H:i:s", $teamtask[create_time]);
}
print <<<EOT
-->
<table cellspacing="0" width="100%">
	<tbody>
		<tr>
			<td class="h"><b>$teamtask[taskname]</b></td>
			<td class="h tar"></td>
		</tr>
		<tr class="tr3">
			<td>计划起止时间:</td>
			<td>
			$plan_start_time 至 $plan_end_time
			</td>
		</tr>
		<tr class="tr3">
			<td>实际起止时间:</td>
			<td>
			 $real_start_time 至 $real_end_time
			</td>
		</tr>
		<tr class="tr3">
			<td>所属项目:</td>
			<td>
			<a href="twproject.php?pid=$teamtask[pid]">$teamtask[projectname]</a>
			</td>
		</tr>
		<tr class="tr3">
			<td>负责人:</td>
			<td>
			$teamtask[owner]
			</td>
		</tr>
		<tr class="tr3">
			<td>优先级:</td>
			<td>
			$teamtask[priority] 
			</td>
		</tr>
		<tr class="tr3">
			<td>任务当前状态:</td>
			<td>
			<div id="txtStatus"><span onclick="showEditStatus()">$teamtask[statusname]</span></div>
			<div id="selStatus" style="display:none">
			<select name="status" id="status">
<!--
EOT;
foreach($teamwork_status as $key=>$val) {
$status_selected = (isset($teamtask[status]) && $key==$teamtask[status] ? 'selected' : '');
print <<<EOT
-->
				<option value="$key" $status_selected>$val</option>
<!--
EOT;
}
print <<<EOT
-->
			</select>
			<a href="javascript:setStatus($teamtask[tid])">保存</a>
			<a href="javascript:resetStatus()">取消</a>
			</div>
			</td>
		</tr>
		<tr class="tr3">
			<td>任务内容:</td>
			<td>
			$teamtask[content]
			</td>
		</tr>
		<tr class="tr3">
			<td>任务备注:</td>
			<td>
			$teamtask[remark]
			</td>
		</tr>
	</tbody>
</table>
<!--
EOT;
?>-->
<script type="text/javascript" src="js/twtask.js"></script>
