<!-- twtask_post -->
<script src="js/twcalender.js"></script>
<script src="js/kissy/yahoo-dom-event.js"></script>
<script src="js/kissy/editor-min.js"></script>
<script>
KISSY.ready(function(S) {
    S.Editor('content', {
        base: 'js/kissy/',
        pluginsConfig: {
            image: {
                tabs : ['link'],
            },
            smiley: {
                tabs : ['wangwang']
            }
        }
    });
});
KISSY.ready(function(S) {
    S.Editor('remark', {
        base: 'js/kissy/',
        pluginsConfig: {
            image: {
                tabs : ['link'],
            },
            smiley: {
                tabs : ['wangwang']
            }
        }
    });
});
</script>

<link rel="stylesheet" href="js/kissy/reset-min.css" />
<link rel="stylesheet" href="js/kissy/editor-min.css" />
<style type="text/css">
.btn {
	cursor: pointer;
	font-size: 14px;
	padding: 2px 12px;
	font-weight: 700;
}
</style>

<!--<?php
print <<<EOT
-->
<!-- nav -->
<div id="breadCrumb"><img
	src="$imgpath/$stylepath/thread/home-old.gif" />&nbsp;<a
	href="$db_bfn" title="$db_bbsname">$db_bbsname</a> &raquo; <a
	href="/twindex.php">teamwork首页</a> &raquo; $actionTitle</div>

<!-- form -->
<form action="twtask_post.php?action=$action" method="post" name="post_task" id="post_task">
<table cellspacing="0" width="100%">
	<tbody>
		<tr>
			<td class="h"><b>$actionTitle</b></td>
			<td class="h tar"><span class="fr">标<font color="red">*</font>为必填项</span></td>
		</tr>
		<tr class="tr3">
			<td>计划起止时间:</td>
			<td>
			<input value="$data[plan_start_time]" class="input" type="text" name="plan_start_time" id="plan_start_time" onfocus="setDate(this)" size="15" tabindex="1" readonly="readonly" /> 至 <input value="$data[plan_end_time]" class="input" type="text" name="plan_end_time" id="plan_end_time" onfocus="setDate(this)" size="15" tabindex="2" readonly="readonly" />&nbsp;<font color="red">$error[plan_start_time]</font>
			</td>
		</tr>
		<tr class="tr3">
			<td>实际起止时间:</td>
			<td>
			<input value="$data[real_start_time]" class="input" type="text" name="real_start_time" id="real_start_time" onfocus="setDate(this)" size="15" tabindex="3" readonly="readonly" /> 至 <input value="$data[real_end_time]" class="input" type="text" name="real_end_time" id="real_end_time" onfocus="setDate(this)" size="15" tabindex="4" readonly="readonly" />&nbsp;(操作此项或会修改关联项目的实际起止时间)&nbsp;<font color="red">$error[real_start_time]</font>
			</td>
		</tr>
		<tr class="tr3">
			<td>所属项目:</td>
			<td>
<!--
EOT;
foreach($twprojects as $twproject) {
$pid_checked = (isset($data[pid]) && $twproject[pid]==$data[pid] ? 'checked' : '');
print <<<EOT
-->
			<input value="$twproject[pid]" type="radio" name="pid" id="pid" $pid_checked />&nbsp;$twproject[projectname]&nbsp;&nbsp;
<!--
EOT;
}
print <<<EOT
-->
			&nbsp;<font color="red">$error[pid]</font>
			</td>
		</tr>
		<tr class="tr3">
			<td><font color="red">*</font>&nbsp;任务名称:</td>
			<td><input value="$data[taskname]" class="input" type="text" name="taskname" id="taskname" size="50" tabindex="5" maxlength="30" />&nbsp;(限30字以内)&nbsp;<font color="red">$error[taskname]</font></td>
		</tr>
		<tr class="tr3">
			<td><font color="red">*</font>&nbsp;负责人:</td>
			<td>
<!--
EOT;
foreach($twusers as $twuser) {
$owner_id_checked = (isset($data[owner_id]) && $twuser[uid]==$data[owner_id] ? 'checked' : '');
print <<<EOT
-->
			<input value="$twuser[uid]" type="radio" name="owner_id" id="owner_id" $owner_id_checked />&nbsp;$twuser[username]&nbsp;&nbsp;
<!--
EOT;
}
print <<<EOT
-->
			&nbsp;<font color="red">$error[owner_id]</font>
			</td>
		</tr>
		<tr class="tr3">
			<td><font color="red">*</font>&nbsp;优先级:</td>
			<td>
			<select tabindex="6" name="priority" id="priority">
			<option value="-1">请选择</option>
<!--
EOT;
foreach($teamwork_level as $key=>$val) {
$level_selected = (isset($data[priority]) && $key==$data[priority] ? 'selected' : '');
print <<<EOT
-->
			<option value="$key" $level_selected>$val</option>
<!--
EOT;
}
print <<<EOT
-->
			</select>&nbsp;(P0最紧急)&nbsp;<font color="red">$error[priority]</font>
			</td>
		</tr>
		<tr class="tr3">
			<td><font color="red">*</font>&nbsp;任务当前状态:</td>
			<td>
			<select tabindex="7" name="status" id="status">
			<option value="-1">请选择</option>
<!--
EOT;
foreach($teamwork_status as $key=>$val) {
$status_selected = (isset($data[status]) && $key==$data[status] ? 'selected' : '');
print <<<EOT
-->
			<option value="$key" $status_selected>$val</option>
<!--
EOT;
}
print <<<EOT
-->
			</select>&nbsp;<font color="red">$error[status]</font>
			</td>
		</tr>
		<tr class="tr3">
			<td>任务内容:</td>
			<td>
			<textarea rows="10" cols="76" class="input" style="width: 690px" name="content" id="content" tabindex="8">$data[content]</textarea>
			</td>
		</tr>
		<tr class="tr3">
			<td>任务备注:</td>
			<td>
			<textarea rows="10" cols="76" class="input" style="width: 690px" name="remark" id="remark" tabindex="9">$data[remark]</textarea>
			</td>
		</tr>
		<tr class="tr3">
			<td></td>
			<td>
			<input type="submit" value=" 提 交 " class="btn" /><font color="red">$error[all]</font>
			<input type="hidden" value="submit" name="flag" />
			<input type="hidden" value="$tid" name="tid" />
			</td>
		</tr>
	</tbody>
</table>
</form>
<!--
EOT;
?>-->