<!--<?php
print <<<EOT
-->
<style type="text/css">
<!--
.explain
{
position:relative; left:60px;
width:350px;
}
.game
{
	float: right;
	margin:10px 35px 10px 10px;

}

.user123
{
	font-size:13px;
	color:#FF9900;
	font-weight :500;
	line-height:5px;
	padding:20px 10px 20px 20px;
	border: 1px solid lightskyblue;
	width:850px;
	position:relative; left:60px
}
.toparae{width:400px}
.topgold
{
	background: transparent url('./hack/gold/image/list.gif') no-repeat left 31px ;
	padding-left: 30px;
    padding-top: 10px;
	color:orange;
    position:relative; left:60px
}
.topgold h3
{
	font-size:15px;
	color:orange;
	font-weight :600;
	margin-left:-25px;


}
.topgold p span
{
	color:orange;

}
.topallgold
{
	background: transparent url('./hack/gold/image/list.gif') no-repeat left 51px ;
	padding-left: 30px;
	padding-top: 30px;
	color:tomato;
position:relative; left:60px
}
.topallgold h3
{
	font-size:15px;
	color:tomato;
	font-weight :600;
	margin-left:-25px;
}
.topallgold p span
{
    color:tomato;
}
.undefine
{
font-size:14px;
text-align:center;
color:blue;
}
.explain a
{
color:green;
font-size:13px;
}
.msg
{
width:220px;
padding:1px;
font-size:13px;
margin-left:60px;
border-style: outset ;
}
.msg a
{
color:gray;
}
-->
</style>

	<div class="explain" >
	<p>&nbsp;</p>
	<p>淘金者V4.5说明：</p>
	<p>1、游戏玩法：按“↓”键向下拉金子,按“↑”键把拉到的东西炸掉（前提是有炸弹）。</p>
	<p>2、每次挖金，你的体力会减少5牛和工具耐久度会减少1度，珍惜每次淘金的机会吧。</p>
	<p>3、〖高手排行榜〗是按单次淘金所得金矿中，数量最多的那次，由高至低排名。</p>
	<p>4、〖富翁排行榜〗是以$creditdb[name]为单位，数量由高至低排名。</p>
	<p>5、作者：阿诺 <a href="http://bbs.qipao8.com/">起跑网路</a></p>
	<p>6、<font color=green>修正：phpwind&raquo;<a href="http://www.xihu8.com/" target="_blank" title="2009/5/6">NEWYOND</a></font></p>


	</div>
</div>
<!--
EOT;
?>-->